.Edit {
    background: #ddd;
    padding: 8px;
    margin: 8px;
    color: black;
    border-radius: 5px;
    min-height: 100%;
}

.Edit-Name:active,
.Edit-Name:focus,
.Edit-Name {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
}

.Edit-Proximity-Button {
    margin: 8px 0px;
}

.Edit-Description {
    height: 100px;
    width: 300px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.Edit-Submit {
    margin: 8px 0px;
}

.Edit-Form {
    display: block;
}

.Edit-Container-Map {
    border-width: 2px;
    border-radius: 5px;
    background: black;
    color: white;
    text-align: center;
}

/*react-tags-input*/

.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    background: transparent;
    border: none;
    height: 14px;
    padding: 5px;
    margin: 0;
    font-size: 12px;
    width: 100%;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
}
.ReactTags__suggestions ul {
    -webkit-padding-start: 0px;
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}