.Home {
  background: linear-gradient(#668866, #114411);
  padding: 0px 8px;
  text-align: center;
}

.Home-activity-area {
    margin: 8px;
}

.Home-activity-area-or {
    margin: 8px;
    color: white;
}

.Home-header {
  background: #ddd;
  padding: 20px;
  color: #225522;
}

.Home-activity-resultset {
  background-color: #ddd;
  border-width: 1px;
  padding: 8px;
  min-height: 340px;
}

.Home-activity-resultset-info {
  margin: 0px;
  padding: 8px;
  border-radius: 15px;
  background-color: #dddddd;
}

