.Home {
  background: linear-gradient(#668866, #114411);
  padding: 0px 8px;
  text-align: center;
}

.Home-activity-area {
    margin: 8px;
}

.Home-activity-area-or {
    margin: 8px;
    color: white;
}

.Home-header {
  background: #ddd;
  padding: 20px;
  color: #225522;
}

.Home-activity-resultset {
  background-color: #ddd;
  height: 100%;
  border-width: 1px;
  padding: 8px;
  min-height: 500px;
}

.Home-activity-resultset-info {
  margin: 0px;
  padding: 8px;
  border-radius: 15px;
  background-color: #dddddd;
}

.location-button {
    background: white;
    border-radius: 5px;
    border-color: #888;
    border-style: solid;
    border-width: 1px;
    color: #aaa;
    font: 400 13.33333px monospace;
    width: 200px;
    padding: 8px;
}

.location-button:hover,focus {
    color: #aaa;
    border-color: #aaa;
    background: #ddd;
}

.location-button:active {
    color: #aaa;
    border-color: #aaa;
    background: #222;
}