.Home {
  padding: 0px 8px;
  text-align: center;
  height: 100%;
}

.Home-activity-area {
    margin: 8px;
}

.Home-activity-area-or {
    margin: 8px;
    color: white;
}

.Home-header {
  background: #ddd;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  color: #225522;
  box-shadow: 3px 3px #555;
}

.Home-Header-Text {
  -webkit-margin-before: 0em;
}

.Home-activity-resultset {
  background-color: #ddd;
  border-radius: 5px 5px 0px 0px ;
  border-width: 1px;
  padding: 8px;
  min-height: 340px;
  box-shadow: 3px 3px #555;
}

.Home-activity-resultset-info {
  margin: 0px;
  padding: 8px;
  border-radius: 15px;
  background-color: #ddd;
}

