.Lekplats {
    background: #ddd;
    padding: 8px;
    margin: 8px;
    color: #225522;
    border-radius: 5px;
    min-height: 100%;
}

.Lekplats-Edit {
    float: right;
}

.Lekplats-Header {
    -webkit-margin-before: 8px;
}

.Lekplats-Container-Map {
    border-width: 2px;
    border-radius: 5px;
    background: black;
    color: white;
    text-align: center;
}