html {
  background: linear-gradient(#886666, #441111);
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

#root {
  height: 100%;
 } 

.button {
    background: white;
    border-radius: 5px;
    border-color: #888;
    border-style: solid;
    border-width: 1px;
    color: #aaa;
    font: 400 13.33333px monospace;
    width: 200px;
    padding: 8px;
}

.button:hover,focus {
    color: #aaa;
    border-color: #aaa;
    background: #ddd;
}

.button:active {
    color: #aaa;
    border-color: #aaa;
    background: #222;
}

.tag-container {
    display: inline-block;
}

.tag {
    font-style: normal;
    display: inline-block;
    background: beige;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}
