html {
  background: yellow;
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font: 400 13.33333px monospace;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font: 400 13.33333px monospace;
}

#root {
  height: 100%;
 } 

.button {
    background: white;
    border-radius: 5px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-style: solid;
    border-width: 1px;
    color: black;
    font: 400 13.33333px monospace;
    font-weight: bold;
    width: 220px;
    height: 40px;
    padding: 8px;
}

.button:hover,focus {
    color: #aaa;
    border-color: #aaa;
    background: #ddd;
}

.button:active {
    color: #aaa;
    border-color: #aaa;
    background: #222;
}

.tag-container {
    display: inline-block;
}

.tag {
    font-style: normal;
    display: inline-block;
    background: beige;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}
