.Navigation {
    background: linear-gradient(black 94%, #fff 95%, #fff 100%);
    text-align: right;
    padding: 4px;
}

.Navigation < a {
    color: #fff;
}

.Navigation-Link {
    margin: 8px;
    color: #fff;
    font-size:15px;
}

.Navigation-Link:hover {
    margin: 8px;
    color: #ccc;
}
