.ResultSet {
    text-align: left;
    background-color: #9bf;
    border-radius: 5px 5px 0px 0px;
    min-height: 150px;
    border-width: 1px;
    padding: 8px;
}

.ResultSet-header {
    -webkit-margin-before: 0.42em;
    padding: 4px;
}

.ResultSet-Range-Dropdown {
    float: right;
    width: 80px;
    height: 20px;
    cursor: pointer;
}

i.ResultSet-list-Message-Arrow {
    font-size: 25px;
    padding: 0px 30px;
    float: right;
}
