.ResultSet {
    text-align: left;
    border-radius: 25px;
}

.ResultSet-header {
    -webkit-margin-before: 0.42em;
    padding: 4px;
}

.ResultSet-Range-Dropdown {
    float: right;
    width: 80px;
    height: 20px;
    cursor: pointer;
}

i.ResultSet-list-Message-Arrow {
    font-size: 25px;
    padding: 0px 30px;
    float: right;
}
