.ResultSet {
    text-align: left;
    border-radius: 25px;
}

.ResultSet-header {
    -webkit-margin-before: 0.42em;
    padding: 4px;
}

.ResultSet-Range-Dropdown {
    float: right;
    width: 60px;
    height: 20px;
    cursor: pointer;
}