.ResultSetItem {
    background: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
}

.ResultSetItem-Distance {
    float: right;
    padding: 8px;
    font-weight: bold;
}

.ResultSetItem-header {
    -webkit-margin-before: 4px;
    -webkit-margin-after: 4px;
}

.ResultSetItem-tags-tag {
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
}

.ResultSetItem:hover {
    background: #ccc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.ResultSetItem:active {
    background: #888;
}