.ResultSetItem {
    background: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
}

a {
    color: black;
    text-decoration: none;
}

.ResultSetItem:hover {
    background: #aaa;
}

.ResultSetItem:active {
    background: #888;
}